@import "base/mixins";
@import "base/variables";
/* Commons classes or styling */

// ---------- Layout -----------------------------------------------------------
.lowlight-text {
    color: $color-light-grey;
    font-size: 12px;
    font-style: italic;
}

// ---------- Form -------------------------------------------------------------
input[type="text"],
textarea {
    @include border-radius(2px);
    @include box-sizing;
    @include transition(background, 0.2s);
    margin: 8px auto;
    padding: 8px;
    border: none;
    border-bottom: 1px solid $color-primary;
    &:focus {
        background: $color-primary-light;
    }
}

textarea {
    resize: vertical; //https://stackoverflow.com/a/27939480/4906586
}

input[type="submit"],
button {
    @include border-radius(2px);
    @include box-sizing;
    @include transition(background, 0.2s);
    border: 1px solid $color-primary;
    background-color: $color-primary;
    color: $font-white;
    padding: 8px;
    &:hover {
        background-color: $color-primary-light;
        color: $font-black;
        cursor: pointer;
    }
    /* FontAwesome icon */
    i {
        margin: auto 8px;
    }
}

// code-like excerpt taking full width
pre.full-width {
    @include border-radius();
    background: #333;
    color: #2f2;
    width: 100%;
    padding: 16px;
    word-break: break-all;
    white-space: pre-wrap;
}

// FontAwesome icon
.fas,
.fa {
    margin-right: 4px;
}