// colouring 
$color-primary: #1E88E5; // MD Blue 600
$color-primary-light: #64B5F6; // MD Blue 300
$color-light-grey: #CFD8DC; // MD Blue Gray 100
$font-black: black;
$font-white: white;

// layouting
$toolbar-height: 58px;